# app
sqlalchemy
psycopg2-binary
redis
grpcio
grpcio-tools

# dev/tests
pytest
pytest-icdiff
mypy
pylint
requests
tenacity

# documentation
mkdocs
mkdocs-material
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mike